body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f7fd;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

#search-history {
    position: fixed;
    top: 130px;
    left: 20px;
}

#search-history button {
    display: block;
    margin-bottom: 10px;
}

.forecast-item {
    display: inline-block;
    width: calc(20% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #2f6baf;
    margin-right: 20px;
    margin-bottom: 10px;
}

.forecast-item:last-child {
    margin-right: 0;
}

.current-day {
    background-color: #eaf6ff;
    border: 1px solid #1e90ff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #search-history {
        position: static;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .forecast-item {
        flex: 0 0 45%;
        margin-right: 10px;
    }
}